/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* =============================================================================
   Custom Work - Overriding default mobile themes
   ========================================================================== */

/* this effectively removes all color changes from mouseover */
.ui-btn-hover-c {
  background: #eee;
  font-weight: bold;
  color: #444;
  text-shadow: 0 1px 1px #f6f6f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #fdfdfd), to( #eee));
  background-image: -webkit-linear-gradient(#fdfdfd, #eee ); 
  background-image:    -moz-linear-gradient(#fdfdfd , #eee ); 
  background-image:     -ms-linear-gradient(#fdfdfd , #eee ); 
  background-image:      -o-linear-gradient(#fdfdfd , #eee ); 
  background-image:         linear-gradient(#fdfdfd , #eee );
}

/* one important exception */
.ui-btn-hover-c.ui-btn-active {
  background: #4596ce;
  color: #fff;
  text-shadow: 0 -1px 1px #145072;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #85bae4), to( #5393c5));
  background-image: -webkit-linear-gradient(#85bae4, #5393c5 ); 
  background-image:    -moz-linear-gradient(#85bae4 , #5393c5 ); 
  background-image:     -ms-linear-gradient(#85bae4 , #5393c5 ); 
  background-image:      -o-linear-gradient(#85bae4 , #5393c5 ); 
  background-image:         linear-gradient(#85bae4 , #5393c5 );
}

/* new red color scheme for reset button */
.ui-btn-up-f,.ui-btn-hover-f {
  background: #c1272d;
  border:1px solid #c1272d;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 1px #444;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #d42a31), to( #ad2328));
  background-image: -webkit-linear-gradient(#d42a31, #ad2328 ); 
  background-image:    -moz-linear-gradient(#d42a31 , #ad2328 ); 
  background-image:     -ms-linear-gradient(#d42a31 , #ad2328 ); 
  background-image:      -o-linear-gradient(#d42a31 , #ad2328 ); 
  background-image:         linear-gradient(#d42a31 , #ad2328 );
}

.ui-btn-down-f {
  background: #dd2c33;
  border:1px solid #dd2c33;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 1px #444;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #d42a31), to( #ad2328));
  background-image: -webkit-linear-gradient(#c6272d, #f33038 ); 
  background-image:    -moz-linear-gradient(#c6272d , #f33038 ); 
  background-image:     -ms-linear-gradient(#c6272d , #f33038 ); 
  background-image:      -o-linear-gradient(#c6272d , #f33038 ); 
  background-image:         linear-gradient(#c6272d , #f33038 );
}

.ui-btn-up-a:visited {
  color: #fff;
}

.ui-collapsible {
  margin: 0;
}

.ui-collapsible .ui-btn.ui-btn-hover-c {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.ui-collapsible .ui-btn.ui-btn-hover-c.terms {
  border-bottom: 0;
}

.ui-collapsible .ui-corner-top, .ui-collapsible .ui-corner-bottom {
  -moz-border-radius-topleft: 0;    
  -webkit-border-top-left-radius: 0; 
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0; 
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;      
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0; 
  border-bottom-right-radius: 0; 
}

.ui-collapsible-content {
  margin: 0 -16px;
  z-index: 5;
}

.ui-collapsible-content .ui-listview {
  margin: -12px -15px;
}

.ui-collapsible .ui-btn-up-c, .ui-collapsible .ui-btn-hover-c {
  border-left: 0;
  border-right: 0;
}

.ui-collapsible .ui-btn-hover-c {
  border-top: 0;
  border-bottom: 0;
}

.ui-collapsible-heading {
  margin: 0 -15px -1px;  
  z-index: 10;
}

.ui-collapsible-heading .ui-icon {
  display: none;
}

.ui-collapsible-heading a .ui-btn-inner {
  padding-left: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.ui-collapsible-heading-toggle {
  /*border-top: 0;*/
}

/* =============================================================================
   Crazy colors for mobile themes
   ========================================================================== */

.ui-collapsible-heading-toggle.ui-btn-up-c,
.ui-collapsible-heading-toggle.ui-btn-hover-c {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #fff;
  text-shadow: 0 1px 1px #222;
}

.color-blue-13 h3 > .ui-btn-up-c, .color-blue-12 h3 > .ui-btn-up-c, .color-blue-11 h3 > .ui-btn-up-c, .color-blue-10 h3 > .ui-btn-up-c, .color-blue-9 h3 > .ui-btn-up-c, .color-blue-8 h3 > .ui-btn-up-c, .color-blue-7 h3 > .ui-btn-up-c, .color-blue-6 h3 > .ui-btn-up-c, .color-blue-5 h3 > .ui-btn-up-c, .color-blue-4 h3 > .ui-btn-up-c, .color-blue-3 h3 > .ui-btn-up-c, .color-blue-2 h3 > .ui-btn-up-c,
.color-blue-1 h3 > .ui-btn-up-c, .color-blue-0 h3 > .ui-btn-up-c {
  font-weight: bold;
  color:  #fff;
  text-shadow: 0 1px 1px #222;
}

.color-blue-13 h3 > .ui-btn-up-c, .color-blue-13 h3 > .ui-btn-hover-c {
  background: #3d0ccf; 
}

.color-blue-12 h3 > .ui-btn-up-c, .color-blue-12 h3 > .ui-btn-hover-c {
  background: #3b0cc7;
}

.color-blue-11 h3 > .ui-btn-up-c, .color-blue-11 h3 > .ui-btn-hover-c {
  background: #390cc2;
}

.color-blue-10 h3 > .ui-btn-up-c, .color-blue-10 h3 > .ui-btn-hover-c {
  background: #370bba;
}

.color-blue-9 h3 > .ui-btn-up-c, .color-blue-9 h3 > .ui-btn-hover-c {
  background: #350bb3;
}

.color-blue-8 h3 > .ui-btn-up-c, .color-blue-8 h3 > .ui-btn-hover-c {
  background: #320aab;
}

.color-blue-7 h3 > .ui-btn-up-c, .color-blue-7 h3 > .ui-btn-hover-c {
  background: #2f0aa1;
}

.color-blue-6 h3 > .ui-btn-up-c, .color-blue-6 h3 > .ui-btn-hover-c {
  background: #2d0999;
}

.color-blue-5 h3 > .ui-btn-up-c, .color-blue-5 h3 > .ui-btn-hover-c {
  background: #2c0994;
}

.color-blue-4 h3 > .ui-btn-up-c, .color-blue-4 h3 > .ui-btn-hover-c {
  background: #280887;
}

.color-blue-3 h3 > .ui-btn-up-c, .color-blue-3 h3 > .ui-btn-hover-c {
  background: #260880;
}

.color-blue-2 h3 > .ui-btn-up-c, .color-blue-2 h3 > .ui-btn-hover-c {
  background: #230778;
}

.color-blue-1 h3 > .ui-btn-up-c, .color-blue-1 h3 > .ui-btn-hover-c {
  background: #230775;
}

.color-blue-0 h3 > .ui-btn-up-c, .color-blue-0 h3 > .ui-btn-hover-c {
  background: #20076e;
}

/* =============================================================================
   Standard customization
   ========================================================================== */


/* general */
::-moz-selection { background: #999; color: #fff; text-shadow: none; }
::selection { background: #999; color: #fff; text-shadow: none; }

#save-csv {
  display: none;
}


/* header, footer */
#permaheader, #permafooter {
  display: none;
}

.footer a.ui-btn.ui-btn-hover-a, .footer a.ui-btn:active, .footer a.ui-btn:visited, .footer a.ui-btn:hover, 
.header a.ui-btn.ui-btn-hover-a, .header a.ui-btn:active, .header a.ui-btn:visited, .header a.ui-btn:hover {
  color: #fff !important;
}

/* search */
#search > div.content {
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  padding-top: 3.5em;
}

#search .inactive {
  display: none;
}

#search .ui-field-contain .ui-btn {
  margin-left: 0;
  margin-right: 0;
}

#search .ui-field-contain .ui-controlgroup-label {
  margin-right: 4px;  
}

#search .submit_wrapper {
  padding-bottom: 2em;
}

#search a.ui-btn.ui-btn-hover-c, #search a.ui-btn.ui-btn-c:active {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #444;
}

#search .button_container a.ui-btn {
  color: #444 !important;
}

#search .ui-btn-up-f, #search .ui-btn-hover-f {
  margin-top: 4em;
}

#search .searchbyarea label {
  font-size: 0.9em;
  margin: 0;
}

/* search results */
#search_results.loading {
  background: #f0f0f0 url(../img/loading_bg_light.gif) center center no-repeat;
  min-height: 200px;
}

/* responsive for desktop mode */
@media only screen and (min-device-width: 480px) {

  body {
    background: #fbfbfb;
    color: #3b3b3b;
  }

  a, a:active, a:visited {
    color: #496d9d;
    text-decoration: none;
  }

  a:hover {
    color: #6091d1;
  }

  .header h1 {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(246, 247, 248)),to(rgb(238, 239, 240)));
    background-image: -webkit-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: -moz-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: -o-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: -ms-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    border-bottom: 1px solid #dbdcdd;
    margin: 0;
    padding: 0 40px;
    font-weight: 400;
    line-height: 66px;
  }

  .footer {
    display: none;
  }

  .page {
    display: none;
    position: relative;
  }

  .page.textonly {
    width: 700px;
    margin: 50px 100px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .songrow, .artistrow, .termsrow {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(246, 247, 248)),to(rgb(238, 239, 240)));
    background-image: -webkit-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: -moz-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: -o-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: -ms-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    font-weight: 600;
    clear: both;
    color: #444;
    display: block;
    height: 66px;
    overflow: hidden;
    border-bottom: 1px solid #dbdcdd;
  }

  .songrow h3, .artistrow h3 {
    display: inline-block;
    float: left;
    font-weight: 200;
    line-height: 66px;
    margin: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
  }

  .songrow h3 {
    width: 400px;
  }

  .songrow ul, .artistrow ul {
    float: left;
    display: none;
  }

  .songrow:hover ul, .artistrow:hover ul {
    display: inline;
  }

  .songrow li, .artistrow li {
    display: inline;
    font-weight: 200;
    line-height: 66px;
    list-style: none;
    margin-right: 40px;
    padding-top: 2px;
    text-transform: lowercase;
  }

  .songrow li {
    font-size: 14px;
    margin-right: 20px;
  }

  .songrow li.last, .artistrow li.last {
    margin-right: 0;
  }

  .termsrow {
    height: 33px;
  }

  .termsrow a {
    font-size: 1.17em;
    font-weight: 200;
    line-height: 33px;
    margin: 0 40px;
  }

  #permaheader {
    display: block;
  }

  #permaheader div.text, #permaheader nav {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    font-weight: 600;
    color: #fff;
    display: block;
    text-shadow: 0px 1px 1px rgba(0,0,0,.5);
    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0 1px 0 0 #878e98;
    -moz-box-shadow: inset 0 1px 0 0 #878e98;
    box-shadow: inset 0 1px 0 0 #878e98;
  }

  #permaheader nav ul {
    display: inline;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }

  #permaheader nav li {
    display: inline;
    float: left;
    list-style: none;
  }

  #permaheader nav a {
    display: block;
    color: #fff;
    font-weight: 200;
    line-height: 1;
    padding: 1em 40px;
    -webkit-box-shadow: inset -1px 0 0 0 #33373d;
    -moz-box-shadow: inset -1px 0 0 0 #33373d;
    box-shadow: inset -1px 0 0 0 #33373d;
  }

  #permaheader nav a:hover {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(104, 111, 122)),to(rgb(69, 76, 87)));
    background-image: -webkit-linear-gradient(top, rgb(104, 111, 122), rgb(69, 76, 87));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
  }

  #permaheader nav a.playlist {
    border-left: 1px solid #33373d;
  }

  #permaheader nav li a.active {
    background-color: #373c42;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(144, 152, 164)),to(rgb(110, 118, 130)));
    background-image: -webkit-linear-gradient(top, rgb(144, 152, 164), rgb(110, 118, 130));
    background-image: -moz-linear-gradient(top, rgb(144, 152, 164), rgb(110, 118, 130));
    background-image: -o-linear-gradient(top, rgb(144, 152, 164), rgb(110, 118, 130));
    background-image: -ms-linear-gradient(top, rgb(144, 152, 164), rgb(110, 118, 130));
    background-image: linear-gradient(top, rgb(144, 152, 164), rgb(110, 118, 130));
  }

  #permaheader nav .csv_container {
    display: none;
  }

  #permaheader h1, #permaheader h3 {
    float: left;
    line-height: 1;
    padding: 30px 0;
    position: relative;
    text-transform: lowercase;
  }

  #permaheader h1 {
    font-size: 3em;
    font-weight: 100;
    margin: 0 0 0 40px;
  }

  #permaheader h3 {
    font-size: 1em;
    font-style: italic;
    font-weight: 100;
    margin: 1.8em 0 0 60px;
  }

  #permaheader nav {
    clear: both;
  }

  #permafooter {
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
    background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
    display: block;
    color: #fff;
    height: 30px;
    text-shadow: 0px 1px 1px rgba(0,0,0,.5);
    border-bottom: 1px solid #33373d;
    -webkit-box-shadow: inset 0 1px 0 0 #878e98;
    -moz-box-shadow: inset 0 1px 0 0 #878e98;
    box-shadow: inset 0 1px 0 0 #878e98;
  }

  #permafooter a {
    color: #b4c1d1;
  }

  #permafooter a:hover {
    color: #6091d1;
  }

  #permafooter h3 {
    font-size: 0.75em;
    font-style: italic;
    line-height: 30px;
    text-transform: lowercase;
    font-weight: 100;
    margin: 0 0 0 40px;
  }

  #search {
    display: block;
  }

  #search .header {
    display: none;
  }

  #search .searchbyarea {
    display: none;
  }

  #search .fieldcontain {
    clear: both;
    display: block;
    margin: 1em 0;
    min-width: 640px;
    position: relative;
  }

  #search .fieldcontain.inactive {
    display: none;
  }

  #search label, #search legend {
    padding: 5px 0;
    float: left;
    margin-right: 50px;
    text-align: right;
    width: 150px;
  }

  #search > div.content {
    padding: 0;
    margin: 0 40px;
    min-height: 300px;
  }

  #search input, #search input[type="text"], #search .button_container {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    width: 700px;
    -moz-box-shadow: inset 0px 1px 6px    rgba(255,255,255,.2);
    -webkit-box-shadow: inset 0px 1px 6px   rgba(255,255,255,.2);
    box-shadow: inset 0px 1px 6px       rgba(255,255,255,.2);
  }

  #search input[type="text"] {
    -moz-box-shadow: inset 0px 1px 4px    rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0px 1px 4px   rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 4px       rgba(0,0,0,.2);
  }

  #search input[type="text"].error {
    border: 1px solid #f00;
  }

  #search .errorlabel {
    bottom: -16px;
    color: #f00;
    font-size: 12px;
    font-style: italic;
    left: 200px;
    margin: 0;
    position: absolute;
  }

  #search .button_container {
    background-color: #fff;
    background-color: #616975;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(246, 247, 248)),to(rgb(238, 239, 240)));
    background-image: -webkit-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: -moz-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: -o-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: -ms-linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    background-image: linear-gradient(top, rgb(246, 247, 248), rgb(238, 239, 240));
    display: inline-block;
  }

  #search .button_container.selector {
    -moz-transition: background-position .1s linear;
    -ms-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    -webkit-transition: all .1s linear;
    background-color: #577fb2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(129,159,197)),to(rgb(87,127,178)));
    background-image: -webkit-linear-gradient(top, rgb(129,159,197), rgb(87,127,178));
    background-image: -moz-linear-gradient(top, rgb(129,159,197), rgb(87,127,178));
    background-image: -o-linear-gradient(top, rgb(129,159,197), rgb(87,127,178));
    background-image: -ms-linear-gradient(top, rgb(129,159,197), rgb(87,127,178));
    background-image: linear-gradient(top, rgb(129,159,197), rgb(87,127,178));
    background-repeat: repeat-x;
    border-color: #3a577e;
    transition: background-position .1s linear;
  }

  #search .button_container.selector:hover {
    background-position: 0 -21px;
  }

  #search .button_container.selector:active {
    border-color: #2d4462;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 6px 0px inset;
  }

  #search .button_container.selector > input {
    box-shadow: none;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

  #search .button_container a, #search .button_container a:visited, #search .button_container a:hover, #search .button_container a:active {
    color: #3b3b3b;
  }

  #search select {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline;
    height: 40px;
    margin-right: 40px;
    width: 200px;
  }

  #search fieldset.checkbox_container {
    display: none;
    margin-left: 200px;
  }

  #search fieldset.checkbox_container label {
    color: #496d9d;
    float: left;
    text-align: left;
  }

  #search fieldset.checkbox_container label:hover {
    color: #6091d1;
  }

  #search fieldset.checkbox_container input {
    display: none;
  }

  #search #search-styles, #search #search-moods {
    display: block;
    width: 100%;
  }

  #search #reset_container, #search #submit_container {
    float: left;
    min-width: inherit;
  }

  #search #submit_container {
    clear: none;
  }

  #search #submit_container label {
    display: none;
  }

  #search #reset_container input, #search #submit_container input, #search #reset_container .button_container, #search #submit_container .button_container {
    margin-right: 40px;
    width: 188px;
  }

  #search #reset_container input, #search #submit_container input {
    background: none;
    border: 0;
    padding-top: 2px;
  }

  #search_results .header {
    display: none;
  }

  #top .header {
    display: none;
  }
}

@media only screen and (min-device-width: 480px) and (max-width: 990px) {

  #permaheader h3 {
    font-size: 0.75em;
    margin: 2.7em 0 0 60px;
  }

  #permaheader nav a.playlist {
    margin-left: 20px;
  }

  #permaheader nav a {
    font-size: 0.75em;
    padding: 1em 20px;
  }

  #search label, #search legend {
    width: 100px;
  }

  #search input, #search input[type="text"], #search .button_container {
    width: 432px;
  }

  .songrow h3, .artistrow h3 {
    font-size: 1em;
  }

  .artistrow h3 {
    width: 200px;
  }

  .songrow h3 {
    width: 300px;
  }

  .songrow li, .artistrow li {
    font-size: 0.75em;
  }

  .songrow, .artistrow, .termsrow {
    min-width: 830px;
  }
}







/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
